.playButton:hover {
    background-image: url("../../assets/icons/play-hover.svg");
}

.playButton {
    background-image: url("../../assets/icons/play.svg");
    height: 60px;
    width: 60px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
}

.stopButton:hover {
    background-image: url("../../assets/icons/stop-hover.svg");
}

.stopButton {
    background-image: url("../../assets/icons/stop.svg");
    height: 60px;
    width: 60px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
}